[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
werkzeug = "*"
contextlib2 = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9"
