* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica,'Poppins', sans-serif;
    color: #323232;
    border: none;
}

.conteudo{
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c450c0 46%,
        #ffcc70 100%
    );

    height: 80vh;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .number{
--rotation: 0;

position: absolute;
width: 100%;
width: 100%;
text-align: center;
transform: rotate(var(--rotation));
font-size: 1.8rem;
font-weight: 500;
padding: 15px;


}

.clock .number .number-1{
    --rotation: 30deg;
    margin-top: 50px
}
.clock .number .number-2{
    --rotation: 60deg;
}
.clock .number .number-3{
    --rotation: 90deg;
}
.clock .number .number-4{
    --rotation: 120deg;
}
.clock .number .number-5{
    --rotation: 150deg;
}
.clock .number .number-6{
    --rotation: 180deg;
}
.clock .number .number-7{
    --rotation: 210deg;
}
.clock .number .number-8{
    --rotation: 2400deg;
}
.clock .number .number-9{
    --rotation: 2700deg;
}
.clock .number .number-10{
    --rotation: 300deg;
}
.clock .number .number-11{
    --rotation: 330deg;
}

.clock .hand{
    --rotation:0;

    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    background-color: black;
    transform: translateX(-50%);
}