* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica,'Poppins', sans-serif;
    color: #323232;
    border: none;
}

.conteudo{
    height: 80vh;
    display: grid;
    grid-template-columns: 8fr 8fr 2fr;
    grid-template-rows: 1;
    grid-row: auto;
    grid-column:auto;
    

    
        background-image: linear-gradient(
    43deg,
    #e7b2a4 0%,
    #b4918f 46%,
    #ffdabb 100%
);
}



.table {
    background-color: lightgrey;
    padding: 25px;
    margin: 25px;
    border-radius: 5px;
    height: 50vh;
    
}

.total{
    margin-left: 30px;
    width: 100%;
}

.conteudo{
display: grid;
grid-template-columns: 8fr 8fr 2fr;
grid-template-rows: 1;
grid-row: auto;
grid-column:auto;


    background-image: linear-gradient(
43deg,
#e7b2a4 0%,
#b4918f 46%,
#ffdabb 100%
);
}

.total_final{
    display: flex;
    width: 100px;
}

.desconto, label {
    position: relative;
    width:100px;
    
    }
    
    label::after {
    content: '' attr(unit);
    position: absolute;
    z-index: 15;
    top: 9px;
    left: 45px;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    }
    
    
