* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica;
    color: #000;
    border: none;
}

.conteudo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    text-align: center;
    opacity: .9;
    background-color: #545252;
}

input {
    width: 50%;
    text-align: left;
}

.form-label {
    font-weight: bold;
    color: #ffffff;
    width: 80%;
    text-align: center;
}

.input-fun {
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
}

input:focus {
    border-bottom: 2px solid #b4918f;
}

.form-check-label {
    font-weight: bold;
    color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: 2px double;
    border-color: #e0e0e0;
}

thead {
    background-color: #b0b0b0
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e0e0e0
}

.fas {
    padding: 0.3rem;
}