* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica;
    color: #323232;
    border: none;
}



input:focus {
    outline: none;
}


label {
    font-size: 0.8rem;
}

a{
    text-decoration: none;
    color:#fff;
    
}

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    opacity: .7;
    background-color: #323232;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}


option {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
}

label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    width: 100%;
}

input {
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
    display: block;
    width: 100%;
}

input:focus {
    border-bottom: 2px solid #b4918f;
}

.btn-agendamento {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    background-color: #08558b;
    border-radius: 20px;
    cursor: pointer;
}

.btn-agendamento:hover {
    background-color: #18223c;
    transition: 0.5s;
}

.btn-agendamento {
    font-size: 1.5rem;
    margin-top: 20px;
}

.btn_funcao {margin-top: 7px;
    background-color: #3f3f3f;
    border: 2px solid #3f3f3f;
    color:#f3f3f3;
    box-shadow: 2px 2px black;
    text-shadow: black 2px 2px 2px;
    margin-left: 280px;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
}

.btn_funcao:hover {
    background-color: #3f3f3f;
    color:#f3f3f3;
    
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #b4918f, 0 0 30px #b4918f, 0 0 40px #b4918f, 0 0 55px #b4918f, 0 0 75px #b4918f;
    border: 2px solid #3f3f3f;
}


.btn_funcao2 {
    font-size: 12px;
    margin-top: 7px;
    background-color: #3f3f3f;
    border: 2px solid #3f3f3f;
    color:#f3f3f3;
    box-shadow: 2px 2px black;
    text-shadow: black 2px 2px 2px;
    margin-left: -230px;
    font-family:'Courier New', Courier, monospace;
}

.btn_funcao2:hover {
    background-color: #3f3f3f;
    color:#f3f3f3;
    
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #b4918f, 0 0 30px #b4918f, 0 0 40px #b4918f, 0 0 55px #b4918f, 0 0 75px #b4918f;
    border: 2px solid #3f3f3f;
}

.botoes{
    display:flex
}