* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica,'Poppins', sans-serif;
    color: #323232;
    border: none;
}



.mensagem,
.erro {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}




.rodape{
    background-color: #4876FF;
    height: 10vh;
    

}

.head{
    height: 80vh;
    background-image: linear-gradient(to bottom right, #ebddcd , #545252);
}

.content{
    height: 80vh;
 
}



.formularios{
   
    background-color: #ffffff;
    height: 80vh;
    
}


.main{
    
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    grid-template-rows: 2;
    grid-row: auto;
    grid-column:auto;

    
}


.janela-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #00000080;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-t{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    
}

.fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0,-30px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal-t{
    animation: abrirmodal 0.6s;
}

.modal-msg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: #00000080;
    align-items: center;
    justify-content: center;
    z-index: 98; 
}

.card{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px; 
}

.fechar_card{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.ocultar{
    display: none;
}


.card{
    animation: abrirmodal 0.6s;
}