* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica;
    color: #323232;
    border: none;
}

.formulario {
 
    padding: 15px 20px 15px 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    /*background-color: #545252;*/
    background-image: linear-gradient(to bottom right, #ebddcd , #545252);
}


.form-label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: left;
    font-size: 15px;
}

.input-fun {
    border-bottom: 2px solid #ffffff;
    padding: 2px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom right, #ebddcd , #545252);
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
}

input:focus {
    border-bottom: 2px solid #b4918f;
}

.form-check-label {
    font-weight: bold;
    color: #ffffff;
}




i {
    padding: 1.5rem;
}

.far:hover {
    cursor: pointer;
}

.input-funcao {
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.btn_funcao {
    color:#ffffff;
    background-color: #323232;
    border: 2px solid #545252;
    box-shadow: 2px 2px black;
    font-size: 12px;
    margin-left: 400px;
    text-shadow: black 2px 2px 2px;
    
}

.btn_funcao:hover {
    background-color: #545252;
    border: 2px solid #323232;
}

select{
    width: 100%;
    height: 20px;
    font-size: 15px;
    background: #f2f2f3;
    
}

h3{
    color:#fff;
}



