* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica;
    color: #323232;
    border: none;
}



input:focus {
    outline: none;
}

a,
label {
    font-size: 0.8rem;
}

a:hover {
    color: #08558b;
}

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    opacity: .7;
    background-color: #323232;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}


option {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
}

label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    width: 100%;
}

input {
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
    display: block;
    width: 100%;
}

input:focus {
    border-bottom: 2px solid #b4918f;
}

.btn-agendamento {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    background-color: #08558b;
    border-radius: 20px;
    cursor: pointer;
}

.btn-agendamento:hover {
    background-color: #18223c;
    transition: 0.5s;
}

.btn-agendamento {
    font-size: 1.5rem;
    margin-top: 20px;
}