* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica;
    color: #323232;
    border: none;
}

.nav-menu {
    overflow: hidden;
    background-color: #ebddcd;
    display: flex;
    height: 50px;
}

.fixoNoTopo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

nav ul {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 80px;
    margin-left: auto;
    color: #fff;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #000000
}

nav a:hover {
    color: #b4918f;
}

nav ul li {
    display: inline;
    float: center;
    padding: 0px;
    margin: 1rem;
    width: 80px;
    text-transform: capitalize;
}