{%extends 'base_admin.html'%}
<!---->


{% block title %} Comanda {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->
<div class="">

    {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    {% if erro %}
        <p class="erro">{{erro}}</p>
    {% endif %}

    <h1>Adicionar Items</h1>
    
    
    
    <form action="/add_items" method="POST" class="text-center form-contato" class="was-validated">

                <label for="id_data_venda" class="form-label">Quantidade</label>
                <input type="text" id="id_data" placeholder="Quantidade*" autocomplete="off" required autofocus  name="quantidade">

                <label for="id_num_comanda" class="form-label">Número Comanda</label>
                <input type="text" id="id_num_comanda"   value="{% if num %} {{num['id_comanda']}} {% endif %}"  placeholder="Número Comanda*" autocomplete="off" required autofocus name="id_comanda">
               

                <div class="mb-3">
                    <label for="id_cliente" class="form-label">Nome cliente</label>
                    <select name="id_cliente" id="id_cliente" data-width="100%" title="Escolha Cliente"  class="selectpicker" data-live-search="true">
                           
                            {% for c in cliente %}
                                <option value="{{c['id_cliente']}}"{% if c['id_cliente'] == num['id_cliente'] %}selected="selected"{% endif %}>{{c['nome']}}</option>
                                {% endfor %}
                        </select>
                </div>
                    
                    <div class="mb-3">
                        <label for="id_operacao" class="form-label">Serviço</label>
                        <select name="id_servico" id="id_servico" data-width="100%" title="Escolha Serviço"  class="selectpicker" data-live-search="true">
                            
                            {% for o in servico %}
                                <option required value="{{o['id_servico']}}">{{o['nome_servico']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="mb-3">
                        <label for="id_situacao" class="form-label">Funcionário</label>
                        <select name="id_funcionario" id="id_funcionario"data-width="100%" title="Escolha Funcionário"  class="selectpicker" data-live-search="true">
                            
                            {% for s in funcionario %}
                                <option required value="{{s['id_funcionario']}}">{{s['nome']}}</option>
                            {% endfor %}
                        </select>
                    </div>
               
                    <button type="submit" class="btn btn-form btn-primary">Adicionar Item</button>

    </form>
    
</div>
{% endblock content %}

{% block formularios %} 
    <div class="formulario">
    <form action="/verefica_id_comanda" method="POST" class="text-center form-contato" class="was-validated" id="formulario">


      <label for="id_numero" class="form-label">Número Da Comanda</label>
      <input type="number"  id="id_numero" placeholder="Número Comanda*" autocomplete="off" required autofocus class="input-fun" name="numero_comanda">


      <button type="submit" class="btn btn-form btn-primary"><i class="fas fa-search"></i></button>

  </form>
  </div>
{% endblock formularios %}

<!--fim cadastro-->


<!-- scripts-->

{% block scripts %}
    
{% endblock scripts %}




<!-- scripts-->