<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="" class="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style-admin.css">

    <title>admin</title>

</head>

<body>

    <div class="container">

        <nav class="nav-menu">
            <a href="">Logo</a>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Agenda Online</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">equipe</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Carreiras</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>

        </nav>

        <form action="">

            <input type="text" id="qualquer-coisa">
            <label for="qualquer-coisa">Apenas teste</label>
        </form>


    </div>

    <link rel="stylesheet " href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css " />
    <script src="http://code.jquery.com/jquery-1.8.2.js "></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js "></script>



</body>

</html>