{%extends 'base_admin.html'%}
<!---->


{% block title %} Cadastro serviço {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-cad_funcionario.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}

<!--inicio cadastro-->
<center class="">
   <h1 style="color: #000000; font-size: 100px; text-shadow: 8px 8px 8px #ffffff;" >Seja bem vindo!</h1>

</center>
<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %}


 {% endblock scripts %}