<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="" class="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/pt-BR.js"></script>


    <link rel="stylesheet" href="/static/css/style-agendamento.css">

    <title>Agendamento</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-pt_BR.min.js"></script>

    
  </head>

  
  <body>

  {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    {% if erro %}
        <p class="erro">{{erro}}</p>
    {% endif %}
 
   <div class="conteudo">
   

   {% if agendamento['id_agendamento'] != 'novo' %}

        <form action="/editar_agendamentos/{{agendamento['id_agendamento']}}" method="POST">

   {% else %}

    <form action="/add_agendamento"  method="POST">

    {% endif %}


        <div class="mb-3">
            <label for="cliente" class="form-label">Lista cliente</label>
       
            <select name="id_cliente" id="id_cliente" class="selectpicker" data-live-search="true">
                   
                    {% for c in cliente %}
                        <option value="{{c['id_cliente']}}"{% if c['id_cliente'] == agendamento['id_cliente'] %}selected="selected"{% endif %}>{{c['nome']}}</option>
                        {% endfor %}
                </select>
        </div>

        <div class="mb-3">
            <label for="id_data" class="form-label">Escolha a Data</label>
            <input type="date" required class="input-fun" id="id_data" name="data">

        </div>
        <div class="mb-3">
            <label for="id_hora" class="form-label">Escolha a hora</label>
            <input type="time" min="09:00" max="18:00" required class="input-fun" id="id_hora" name="hora">
        </div>

        <div class="mb-3">
            <label for="servico" class="form-label">Escolha o Serviço</label>

            <select name="id_servico" id="id_servico"class="selectpicker" data-live-search="true">
               
                {% for s in servicos %}
                    <option value="{{s['id_servico']}}"{% if s['id_servico'] == agendamento['id_servico'] %}selected="selected"{% endif %}>{{s['nome_servico']}}</option>
                    {% endfor %}
                
            </select>

        </div>


        <div class="mb-3">

            <label for="id_funcionario" class="form-label">Escolha o Profissional</label>

            <select name="id_funcionario" id="id_funcionario"class="selectpicker" data-live-search="true">
                
                {% for funcionario in funcionarios %}
                    <option value="{{funcionario['id_funcionario']}}"{% if funcionario['id_funcionario'] == agendamento['id_funcionario'] %}selected="selected"{% endif %}>{{funcionario['nome']}}</option>
                {% endfor %}
            </select>

        </div>

        <button type="submit" class="btn-agendamento btn-primary btn1">Agendar</button>
        <a class="btn_funcao2 btn" href="/calendario">Voltar a Agenda</a>
    </form>

</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

      $(document).ready(function() {
            $('.selectpicker').selectpicker();
        });
    </script>

  </body>
</html>



