{%extends'_base.html'%}

<!---->

{% block title %} Agendamento{% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-agendamento.css"> {% block estilos %} {% endblock estilos %} {% endblock head%}

<!---->



<!---->

{% block content %}



<div class="container ">

    {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %} {% if erro %}
    <p class="erro">{{erro}}</p>
    {% endif %}

    <h2>Seja bem-vindo, {{logado['nome']}}!</h2>

    <form action="/add" class="form" method="POST">

        {% for c in cliente %} {% if c['nome'] == logado['nome'] %}
        <input type="hidden" name='id_cliente' value="{{c['id_cliente']}}"> {% endif %} {% endfor %}

        <div class="mb-3">
            <label for="id_data" class="form-label">Escolha a Data</label>
            <input type="date" class="form-control" id="id_data" name="data">

        </div>
        <div class="mb-3">
            <label for="id_hora" class="form-label">Escolha a hora</label>
            <input type="time" class="form-control" id="id_hora" name="hora">
        </div>

        <div class="mb-3">
            <label for="servico" class="form-label">Escolha o Serviço</label>
            <input type="text" class="form-control" name="servico">
        </div>

        <div class="mb-3">
            <label for="id_servico" class="form-label">id_Serviço</label>
            <input type="text" class="form-control" id="id_servico" name="id_servico">
        </div>

        <div class="mb-3">
            <label for="id_servicoe" class="form-label">id_funcionario</label>
            <input type="text" class="form-control" id="id_servicoe" name="id_funcionario">
        </div>

        <div class="mb-3">

            <label for="id_funcionario" class="form-label">Escolha o Profissional</label>

            <select name="funcionario" id="id_funcionario2">
                <option value="escolha">Escolha o Profissional</option>
                {% for funcionario in funcionarios %}
                    <option value="{{funcionario['nome']}}" selected="selected">{{funcionario['nome']}}</option>
                {% endfor %}
            </select>



        </div>

        <button type="submit" class="btn-agendamento btn-primary btn1">Enviar</button>

    </form>

</div>


{% endblock content %} {% block scripts %} {% endblock scripts %}