<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="" class="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/style-agendamento.css">

    <title>Agendamento</title>


  </head>

  
  <body>
 
    <div class="container">
    
    <form action="/add_agendamento" class="form" method="POST">

        <div class="mb-3">
            <label for="cliente" class="form-label">Lista cliente</label>
       
            <select name="id_cliente" id="id_cliente">
                    <option value="escolha">lista clientes</option>
                    {% for c in cliente %}
                        <option value="{{c['id_cliente']}}"{% if c['id_cliente'] == c['cliente'] %}selected="selected"{% endif %}>{{c['nome']}}</option>
                        {% endfor %}
                </select>
        </div>

        <div class="mb-3">
            <label for="id_data" class="form-label">Escolha a Data</label>
            <input type="date" required class="form-control" id="id_data" name="data">

        </div>
        <div class="mb-3">
            <label for="id_hora" class="form-label">Escolha a hora</label>
            <input type="time" min="09:00" max="18:00" required class="form-control timepicker" id="id_hora" name="hora">
        </div>

        <div class="mb-3">
            <label for="servico" class="form-label">Escolha o Serviço</label>

            <select name="id_servico" id="id_servico">
                <option value="escolha">Escolha o serviço</option>
                {% for s in servicos %}
                    <option value="{{s['id_servico']}}"{% if s['id_servico'] == s['servico'] %}selected="selected"{% endif %}>{{s['nome_servico']}}</option>
                    {% endfor %}
                
            </select>

        </div>


        <div class="mb-3">

            <label for="id_funcionario" class="form-label">Escolha o Profissional</label>

            <select name="id_funcionario" id="id_funcionario">
                <option value="escolha">Escolha o Profissional</option>
                {% for funcionario in funcionarios %}
                    <option value="{{funcionario['id_funcionario']}}"{% if funcionario['id_funcionario'] == funcionario['funcionario'] %}selected="selected"{% endif %}>{{funcionario['nome']}}</option>
                {% endfor %}
            </select>



        </div>

        <button type="submit" class="btn-agendamento btn-primary btn1">Agendar</button>

    </form>

</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>



