{%extends 'base_admin.html'%}

{% block title %}
Cadastro Funcionário
{% endblock title %}

 {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-cad_funcionario.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

{% endblock head%}
 


{% block content %}

  {% if mensagem %}
<p class="mensagem">{{mensagem}}</p>
{% endif %} {% if erro %}
<p class="erro">{{erro}}</p>
{% endif %}

<table class="table table-striped">
                
  <thead>
      
      <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>CPF</th>
          <th>Cargo</th>
          <th>Status</th>
          <th>Alterar</th>
      </tr>
  </thead>
  <tbody >
      {% for f in funci %}
      
      <tr>
          <td >{{f.nome}}</td>
          <td>{{f.email}}</td>
          <td>{{f.endereco}}</td>
          <td>{{f.telefone}}</td>
          <td>{{f.cpf}}</td>
          <td>{{f.nome_cargo}}</td>
          <td>{{f.status}}</td>
      
          <td><a href="/alterar_funcionario/{{f.id_funcionario}}"><i class="fas fa-pencil-alt"></i></a>
  
          
          </td>
          
      </tr>
  
  {% endfor %}
  </tbody>
</table>





<!--fim cadastro-->
{% endblock content %}


{% block formularios %} 



  <div class="formulario">

      <form action="/edicao_funcionario/{{funcionario['id_funcionario']}}" method="POST" class="text-center form-contato" class="was-validated">

          <h3 class=" ">Funcionário</h3>

          <button type="submit" class="btn btn-primary">Enviar</button>

          <label for="id_nome" class="form-label">Nome</label>
          <input type="text" id="id_nome" placeholder="Nome*" autocomplete="off" required autofocus class="input-fun" name="nome" value = "{{funcionario['nome']}}">

          <label for="id_email" class="form-label">Email</label>
          <input type="email" id="id_email" placeholder="Email*" autocomplete="off" required autofocus class="input-fun" name="email" value = "{{funcionario['email']}}">

          <label for="id_endereco" class="form-label">Endereço</label>
          <input type="text" id="id_endereco" placeholder="Endereço* " autocomplete="off" required autofocus class="input-fun" name="endereco"value = "{{funcionario['endereco']}}">

          <label for="id_telefone" class="form-label">Telefone</label>
          <input type="tel" id="id_telefone" placeholder="Telefone* " autocomplete="off" required autofocus class="input-fun" name="telefone" value = "{{funcionario['telefone']}}">

          <label for="id_cpf" class="form-label">CPF</label>
          <input type="text" id="id_cpf" placeholder="CPF* " autocomplete="off" required autofocus class="input-fun" name="cpf" value = "{{funcionario['cpf']}}">

          <div class="mb-3">
              <label for="id_cargo" class="form-label">Qual é o Cargo </label>
              <select name="id_cargo" id="id_cargo">
                  <option value="escolha">Escolha o Profissional</option>
                  {% for c in cargos %}
                      <option value="{{c['id_cargo']}}"{% if c['id_cargo'] == funcionario['id_cargo'] %}selected="selected"{% endif %}>{{c['nome_cargo']}}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="form-check">
              <input type="radio" id="id_status" name="status" checked="yes" value="Ativo">
              <label class="form-check-label" for="exampleRadios1">
                Ativo
              </label>
         
              <input type="radio" id="id_status" name="status" value="Inativo">
              <label class="form-check-label" for="exampleRadios1">
                Inativo
              </label>
          </div>


          

      </form>
  </div>


{% endblock formularios %}
   
   
