 {%extends 'base_admin.html'%}
<!---->


{% block title %} Cadastro {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-cadastro.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}

 {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    {% if erro %}
        <p class="erro">{{erro}}</p>
    {% endif %}

<div class="conteudo">
<!--inicio cadastro-->
    <div class="form">
        <fieldset>
            <form action="/users" method="POST" class="text-center form-contato" class="was-validated">

                <h1 class=" ">Cadastrar Cliente</h1>

                <label for="id_nome" >Nome Completo</label>
                <input class="input-fun" type="text" id="id_nome" placeholder="Nome Completo*" autocomplete="off" required autofocus name="nome">

                <label for="id_email" >Email</label>
                <input class="input-fun" type="email" id="id_email" placeholder="Email*" autocomplete="off" required autofocus name="email">

                <label for="id_cep" >Data Nascimento</label>
                <input class="input-fun" type="date" id="id_dt-nascimento" placeholder="DATA NASCIMENTO* " autocomplete="off" required autofocus name="data_nascimento">

                <label for="telefone" >Telefone/WhatsApp</label>
                <input class="input-fun" type="tel" id="telefone"  placeholder="Telefone/Whats'App* "required  name="telefone">

                
                <button type="submit " class="btn btn-form btn-primary">Enviar</button>

            </form>
        </fieldset>
    </div>
</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %} <script src="/static/js/script-cadastro.js"></script> {% endblock scripts %}