 {%extends '_base.html'%}
<!---->


{% block title %} Cadastro {% endblock title %} {% block head%} {{super()}}
<<link rel="stylesheet" type="text/css" href="/static/css/style-cadastro.css">{% endblock head%}

    <!-- estilos-->

    {% block estilos %} {% endblock estilos %}


    <!---->

    {% block content %}
    <!--inicio cadastro-->
    <div class="form">

        <form action="/users" method="POST" class="text-center form-contato" class="was-validated">
            <a class="btn-fechar"><i class="fas fa-times"></i></a>
            <h1 class=" ">Cadastro</h1>

            <label for="id_nome" class="sr-only">Nome</label>
            <input type="text" id="id_nome" placeholder="Nome*" autocomplete="off" required autofocus name="nome">

            <label for="id_email" class="sr-only">Email</label>
            <input type="text" id="id_email" placeholder="Email*" autocomplete="off" required autofocus name="email">

            <label for="id_endereco " class="sr-only">Endereço</label>
            <input type="text" id="id_endereco" placeholder="Endereço* " autocomplete="off" required autofocus name="endereco">

            <label for="id_numero" class="sr-only">Número</label>
            <input type="text" id="id_numero" placeholder="Numero* " autocomplete="off" required autofocus name="numero">

            <label for="id_cep" class="sr-only">CEP</label>
            <input type="text" id="id_cep" placeholder="CEP* " autocomplete="off" required autofocus name="cep">

            <label for="id_cep" class="sr-only">Complemento</label>
            <input type="text" id="id_complemento" placeholder="Complemento " autocomplete="off" required autofocus name="complemento">

            <label for="password" class="sr-only">Senha</label>
            <input type="password" id="password" placeholder="Crie uma Senha* " name="senha">


            <button type="submit " class="btn btn-form btn-primary">Enviar</button>

        </form>
    </div>

    <!--fim cadastro-->
    {% endblock content %}

    <!-- scripts-->

    {% block scripts %} {% endblock scripts %}