{%extends 'base_admin.html'%}
<!---->


{% block title %} Cad-funcionario {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-cad_funcionario.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->


<div class="form_funcao aparecer" id="form_funcao">

    <i class="far fa-window-close"></i>

    <form action="/add_cargo" method="POST" class="text-center form-contato" class="was-validated">

        <h1 class=" ">Adicione uma Cargo</h1>

        <label for="id_nomefuncao" class="form-label-funcao">Cargo</label>
        <input type="text" id="id_nomefuncao" placeholder='Adicione uma Cargo*' autocomplete="off" required autofocus class="input-funcao" name="nome">


        <button type="submit" class="btn btn-form btn-primary">Enviar</button>

    </form>
</div>

<div class="conteudo">

    <div class="form">

        <form action="/add_funcionario" method="POST" class="text-center form-contato" class="was-validated">

            <h1 class=" ">Funcionario</h1>

            <button class="btn_funcao btn btn-primary">Adicionar Cargo</button>

            <label for="id_nome" class="form-label">Nome</label>
            <input type="text" id="id_nome" placeholder="Nome*" autocomplete="off" required autofocus class="input-fun" name="nome">

            <label for="id_email" class="form-label">Email</label>
            <input type="email" id="id_email" placeholder="Email*" autocomplete="off" required autofocus class="input-fun" name="email">

            <label for="id_endereco" class="form-label">Endereço</label>
            <input type="text" id="id_endereco" placeholder="Endereço* " autocomplete="off" required autofocus class="input-fun" name="endereco">

            <label for="id_telefone" class="form-label">Telefone</label>
            <input type="tel" id="id_telefone" placeholder="Telefone* " autocomplete="off" required autofocus class="input-fun" name="telefone">

            <label for="id_cpf" class="form-label">CPF</label>
            <input type="text" id="id_cpf" placeholder="CPF* " autocomplete="off" required autofocus class="input-fun" name="cpf">

            <div class="mb-3">
                <label for="id_cargo" class="form-label">Qual é o Cargo </label>
                <select name="id_cargo" id="id_cargo">
                    <option value="escolha">Escolha o Profissional</option>
                    {% for c in cargos %}
                        <option value="{{c['id_cargo']}}"{% if c['id_cargo'] == c['c'] %}selected="selected"{% endif %}>{{c['nome_cargo']}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-check">
                <input type="radio" id="id_status" name="status" checked="yes" value="Ativo">
                <label class="form-check-label" for="exampleRadios1">
                  Ativo
                </label>
            </div>
            <div class="form-check">
                <input type="radio" id="id_status" name="status" value="Inativo">
                <label class="form-check-label" for="exampleRadios1">
                  Inativo
                </label>
            </div>

            <label for="password" class="form-label">Senha</label>
            <input type="password" id="password " placeholder="Crie uma Senha* " class="input-fun" name="senha">


            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div>
</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %}
<script src="/static/js/script_funcionario.js"></script> {% endblock scripts %}