 {%extends '_base.html'%}
<!---->


{% block title %} Cadastro {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-cadastro.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->
<div class="form">
    <fieldset>
        <form action="/users" method="POST" class="text-center form-contato" class="was-validated">

            <h1 class=" ">Cadastro</h1>

            <label for="id_nome" >Nome</label>
            <input type="text" id="id_nome" placeholder="Nome*" autocomplete="off" required autofocus name="nome">

            <label for="id_email" >Email</label>
            <input type="email" id="id_email" placeholder="Email*" autocomplete="off" required autofocus name="email">

            <label for="id_cep" >Data Nascimento</label>
            <input type="date" id="id_dt-nascimento" placeholder="DATA NASCIMENTO* " autocomplete="off" required autofocus name="data_nascimento">

            <label for="password" >Senha</label>
            <input type="password" id="password" class="password" placeholder="Crie uma Senha* "required  name="senha">

            <label for="confirmar-senha">Confirmar Senha</label>
            <input type="password" id="confirmar-senha" class="confirmar-senha" placeholder="Confirmar Senha* "required   name="confirmar-senha" >


            <button type="submit " class="btn btn-form btn-primary">Enviar</button>

        </form>
    </fieldset>
</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %} <script src="/static/js/script-cadastro.js"></script> {% endblock scripts %}