<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/style-calendar.css">




    <title>Agenda</title>
</head>

<body>


    <div class="form-table">

        <form action="/inicio" method="POST" class="form-agenda">


            <h2>ESCOLHA UMA DATA E HORÁRIO</h2>


            <div class="calendar">
                <div class="calendar-info">
                    <div class="calendar-prev" id="prev-month">&#9664;</div>
                    <div class="calendar-month" id="month"></div>
                    <div class="calendar-year" id="year"> </div>
                    <div class="calendar-next" id="next-month">&#9654;</div>
                </div>
            </div>

            <div class="calendar__week">
                <div class="calendar__day calendar__item">Seg</div>
                <div class="calendar__day calendar__item">Ter</div>
                <div class="calendar__day calendar__item">Qua</div>
                <div class="calendar__day calendar__item">Qui</div>
                <div class="calendar__day calendar__item">Sex</div>
                <div class="calendar__day calendar__item">Sáb</div>
                <div class="calendar__day calendar__item">Dom</div>
            </div>



            <div class="calendar__dates" id="dates">

            </div>



            <div class="calender__period">
                <div class="calendar__morning calendar__item">
                    <h4>Manhã</h4>
                    <div class="hours-day">10:00</div>

                </div>
                <div class="calendar__afternoon calendar__item">
                    <h4>Tarde</h4>
                    <div class="hours-day">12:00</div>
                    <div class="hours-day">12:00</div>
                    <div class="hours-day">12:00</div>
                    <div class="hours-day">12:00</div>
                    <div class="hours-day">12:00</div>
                    <div class="hours-day">12:00</div>
                </div>
                <div class="calendar__evening calendar__item">
                    <h4>Noite</h4>
                    <div class="hours-day">10:00</div>
                    <div class="hours-day">10:00</div>
                    <div class="hours-day">10:00</div>
                    <div class="hours-day">10:00</div>
                    <div class="hours-day">10:00</div>
                    <div class="hours-day">10:00</div>
                </div>
            </div>

            <button type="submit" class="btn btn-form btn-danger">Enviar</button>

        </form>
    </div>-->


    <script src="/static/js/script-calendar.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous ">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>