{%extends 'base_admin.html'%}

  
    
{% block title %} Histórico {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}



  {% block content %}
        <div class="conteudo">

            {% if mensagem %}
            <p class="mensagem">{{mensagem}}</p>
            {% endif %} {% if erro %}
            <p class="erro">{{erro}}</p>
            {% endif %}

    
            <table class="table table-striped">
                
                <thead>
                    {% for f in funcionario %}
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Cargo</th>
                        <th>Status</th>
                        <th>Alterar</th>
                    </tr>
                </thead>
                <tbody >
                    
                    
                    <tr>
                        <td >{{f.nome}}</td>
                        <td>{{f.email}}</td>
                        <td>{{f.endereco}}</td>
                        <td>{{f.telefone}}</td>
                        <td>{{f.cpf}}</td>
                        <td>{{f.nome_cargo}}</td>
                        <td>{{f.status}}</td>
                    
                        <td><a href="/alterar_funcionario/{{f.id_funcionario}}"><i class="fas fa-pencil-alt"></i></a>
                
                        
                        </td>
                        
                    </tr>
                
                {% endfor %}
                </tbody>
            </table>
        
        </div>
    
{% endblock content %}

{% block formularios %}
<div class="formulario">
    <form action="/buscar_funcionario" method="POST" class="text-center form-contato" class="was-validated">

        <label for="id_nome" class="form-label">Buscar Funcionário</label>
        <input type="text" id="id_nome" placeholder="Buscar Cliente *" autocomplete="off" required autofocus class="input-fun" name="nome">


        <button type="submit" class="btn btn-form"><i class="fas fa-search"></i></button>

    </form>

</div>    
{% endblock formularios %}
   
    










 



