<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Fechar Venda</title>

    <style>
        .table {
            background-color: lightgrey;
            padding: 25px;
            margin: 25px;
            border-radius: 5px;
            height: 70vh;
            
        }

        .total{
            margin-left: 30px;
            width: 100%;
        }

        .conteudo{
        display: grid;
        grid-template-columns: 8fr 8fr 2fr;
        grid-template-rows: 1;
        grid-row: auto;
        grid-column:auto;

        
            background-image: linear-gradient(
        43deg,
        #e7b2a4 0%,
        #b4918f 46%,
        #ffdabb 100%
    );
        }
        .rodape{
            background-color: lightgrey;
            margin: 10px;
            border-radius: 5px;
            
        }
        </style>
</head>

<body>

    <div class="conteudo">

    <div class="">
            <h1>Fechar Venda</h1>
            
            <form action="#" method="POST" class="text-center form-contato" class="was-validated">
        
                        <label for="id_data_venda" class="form-label">Quantidade</label>
                        <input type="text" id="id_data" placeholder="Quantidade*" autocomplete="off" required autofocus  name="quantidade">
        
                        <label for="id_num_comanda" class="form-label">Número Comanda</label>
                        <input type="text"style='display: none;' id="id_num_comanda"   value="{% if num %} {{num['id_comanda']}} {% endif %}"  placeholder="Número Comanda*" autocomplete="off" required autofocus name="id_comanda">
                        <input type="text" id="id_num_comanda"   value="{% if num %} {{num['numero_comanda']}} {% endif %}"  placeholder="Número Comanda*" autocomplete="off" required autofocus>
                       
        
                        <div class="mb-3">
                            <label for="id_cliente" class="form-label">Nome cliente</label>
                            <select name="id_cliente" id="id_cliente" data-width="100%" title="Escolha Cliente"  class="selectpicker" data-live-search="true">
                                   
                                    {% for c in cliente %}
                                        <option value="{{c['id_cliente']}}"{% if c['id_cliente'] == num['id_cliente'] %}selected="selected"{% endif %}>{{c['nome']}}</option>
                                        {% endfor %}
                                </select>
                        </div>
                            
                            <div class="mb-3">
                                <label for="id_operacao" class="form-label">Serviço</label>
                                <select name="id_servico" id="id_servico" data-width="100%" title="Escolha Serviço"  class="selectpicker" data-live-search="true">
                                    
                                    {% for o in servico %}
                                        <option required value="{{o['id_servico']}}">{{o['nome_servico']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div class="mb-3">
                                <label for="id_situacao" class="form-label">Funcionário</label>
                                <select name="id_funcionario" id="id_funcionario"data-width="100%" title="Escolha Funcionário"  class="selectpicker" data-live-search="true">
                                    
                                    {% for s in funcionario %}
                                        <option required value="{{s['id_funcionario']}}">{{s['nome']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                       
                            <button type="submit" class="btn btn-form btn-primary">Adicionar Item</button>
        
            </form>
        
  
        </div>

    <div class="div">
    <table class="table table-striped">
        <h2>Demonstrating the Box Model</h2>
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Descrição</th>
                <th scope="col">Qtde</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Total Item</th>
                
            </tr>
        </thead>
        <tbody>
            {% for c in cliente %}
            
            <tr>
                <td>{{c.nome_cliente}}</td>
                <td id="data">{{c.data1}}</td>
                <td>{{c.hora}}</td>
                <td>R$ {{c.nome_servico}}</td>
                <td>R$ {{c.preco_servico}} </td>
            </tr>
            
           {% endfor %}
        </tbody>

        
    </table>
    <div class="total">
    
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Sub Total:</span>
            </div>
            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
          </div>
    
    </div>
</div>


</div>

<div class="rodape">
    <p>Rodape</p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    
</body>
</html>