{%extends 'base_admin.html'%}
<!---->


{% block title %} Histórico {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->
<div class="conteudo">

    {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    {% if erro %}
        <p class="erro">{{erro}}</p>
    {% endif %}
    
    <form action="/buscar_cliente/nome_1" method="GET" class="text-center form-contato" class="was-validated" id="formulario">


        <label for="id_nome" class="form-label">Buscar histórico de cliente</label>
        <input type="text" id="id_nome" placeholder="Buscar histórico de cliente*" autocomplete="off" required autofocus class="input-fun" name="nome">


        <button type="submit" class="btn btn-form"><i class="fas fa-search"></i></button>

    </form>
    
    
    <table class="table" id="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Agendamento</th>
                <th>Horário Agendamento</th>
                <th>Serviço</th>
                <th>Profissional</th>
                <th>Valor</th>
                
            </tr>
        </thead>

        <tbody>
            {% for c in cliente %}
            
            <tr>
                <td>{{c.nome_cliente}}</td>
                <td>{{c.data1}}</td>
                <td>{{c.hora}}</td>
                <td>{{c.nome_servico}}</td>
                <td>{{c.nome_funcionario}}</td>
                <td id="valor" value="{{c.preco_servico}}">R$ {{c.preco_servico}} </td>
            </tr>

            
            
           {% endfor %}
        </tbody>

    
    </table>


    <table class="table">

        <thead>
            <tr>
                <th>total</th>
            </tr>
             

        </thead>
        <tbody>
            
            <tr>
            <td id="result" ></td>
        </tr></tbody>
     
    </table>
</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %}{% endblock scripts %}

<script>

    const valor =  document.querySelector("#table");
        console.log(valor)
    
    
    
    </script>





<!-- scripts-->