{%extends 'base_admin.html'%}
<!---->


{% block title %} Histórico {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->
<div class="conteudo">

    {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    {% if erro %}
        <p class="erro">{{erro}}</p>
    {% endif %}
    
    <form action="/buscar_cliente/nome" method="GET" class="text-center form-contato" class="was-validated">


        <label for="id_nome" class="form-label">Buscar histórico de cliente</label>
        <input type="text" id="id_nome" placeholder="Buscar histórico de cliente*" autocomplete="off" required autofocus class="input-fun" name="nome">


        <button type="submit" class="btn btn-form"><i class="fas fa-search"></i></button>

    </form>
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Agendamento</th>
                <th>Horário Agendamento</th>
                <th>Serviço</th>
                <th>Profissional</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cliente %}
            
            <tr>
                <td>{{cliente[c][0]}}</td>
                <td>{{cliente[c][1]}}</td>
                <td>{{cliente[c][2]}}</td>
                <td>{{cliente[c][3]}}</td>
                <td>{{cliente[c][5]}}</td>
                <td>R$ {{cliente[c][4]}}</td>
            </tr>
           
           {% endfor %}
        </tbody>
    </table>

</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %} {% endblock scripts %}
<!-- scripts-->