{%extends 'base_admin.html'%}
<!---->


{% block title %} Histórico {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->
<div class="conteudo">

    <form action="" method="GET" class="text-center form-contato" class="was-validated">


        <label for="id_nome" class="form-label">Buscar histórico de cliente</label>
        <input type="text" id="id_nome" placeholder="Buscar histórico de cliente*" autocomplete="off" required autofocus class="input-fun" name="nome">


        <button type="submit" class="btn btn-form "><i class="fas fa-search"></i></button>

    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Agendamento</th>
                <th>Horário Agendamento</th>
                <th>Serviço</th>
                <th>Profissional</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Elton</td>
                <td>05/05/2021</td>
                <td>16:20</td>
                <td>Depilação</td>
                <td>João e Felipe</td>
                <td>5$</td>
            </tr>
            <tr>
                <td>Elton</td>
                <td>05/05/2021</td>
                <td>16:20</td>
                <td>Unhas</td>
                <td>João e Felipe</td>
                <td>5$</td>
            </tr>
            <tr>
                <td>Elton</td>
                <td>05/05/2021</td>
                <td>16:20</td>
                <td>Sarrada</td>
                <td>João e Felipe</td>
                <td>5$</td>
            </tr>
            <tr>
                <td>Elton</td>
                <td>05/05/2021</td>
                <td>16:20</td>
                <td>Limpeza de Pele</td>
                <td>João e Felipe</td>
                <td>5$</td>
            </tr>
            <tr>
                <td>Elton</td>
                <td>05/05/2021</td>
                <td>16:20</td>
                <td>Corte</td>
                <td>João e Felipe</td>
                <td>5$</td>
            </tr>
        </tbody>
    </table>

</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %} {% endblock scripts %}
<!-- scripts-->