{%extends 'base_admin.html'%}
<!---->


{% block title %} Histórico {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css">


{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %}
<!--inicio cadastro-->
<div class="conteudo">

    {% if mensagem %}
    <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    {% if erro %}
        <p class="erro">{{erro}}</p>
    {% endif %}
    
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data Agendamento</th>
                <th scope="col">Horário Agendamento</th>
                <th scope="col">Serviço</th>
                <th scope="col">Profissional</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cliente %}
            
            <tr>
                <td>{{c.nome_cliente}}</td>
                <td>{{c.data1}}</td>
                <td>{{c.hora}}</td>
                <td>{{c.nome_servico}}</td>
                <td>{{c.nome_funcionario}}</td>
                <td>R$ {{c.preco_servico}} </td>
            </tr>
            
           {% endfor %}
        </tbody>
    </table>

</div>

<!--fim cadastro-->
{% endblock content %}


{% block formularios %} 
<div class="formulario">

    <form action="/buscar_cliente/nome" method="GET"  class="was-validated">


        <label for="nome" class="form-label h3">Histórico de Pagamento</label>
        <!--<input type="text" id="id_nome" placeholder="Histórico de Pagamento*" 
            autocomplete="off" required autofocus class="input-fun" name="nome">-->

        <div class="seletor">
       
            <select name="nome" data-width="100%"  title="Lista Cliente*" id="id_cliente" class="selectpicker"  data-live-search="true">
                   
                    {% for c in listar %}
                        <option value="{{c['nome']}}">{{c['nome']}}</option>
                        {% endfor %}
                </select>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>

    </form>
</div>
{% endblock formularios %}
<!-- scripts-->

{% block scripts %} 
{% endblock scripts %}
<!-- scripts-->
