{%extends'_base.html'%} {% block title %} Início {% endblock title %}

<!---->
<!--estilos-->{% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-index.css">

{% block estilos %} {% endblock estilos %}
{% endblock head%} 



<!--estilos-->

{% block content %}

{% if mensagem %}
            <p class="mensagem">{{mensagem}}</p>
        {% endif %}
        {% if erro %}
            <p class="erro">{{erro}}</p>
        {% endif %}

<div id="bem-vindo">
    <h1 class="h1">Bem-Vindo ao Fique Linda</h1>

    <h3 class="h3">Um presente para você</h3>
</div>


<div id="servico" class="card-topico">
    <h2 class="h2">
        Serviços
    </h2>
    <h5 class="h5">Belos resultados, Cuidados personalizados</h5>
</div>


<!--inicio Sessão serviços display flex-->

<section class="flex-container">

    <div class="flex-item card card-info">
        <img src="/static/img/estetica.jfif" alt=" ">

        <h2>
            Estética
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            modelos de tipos.
        </p>
    </div>


    <div class="flex-item card card-info">
        <h2>
            Manicuro e Pedicuro
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            modelos de tipos.
        </p>
        <img src="/static/img/manicure.jfif">
    </div>



    <div class="flex-item card card-info">
        <img src="/static/img/escova.jfif">
        <h2>
            Cabelos
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            odo
        </p>
    </div>

    <div class="flex-item card card-info">
        <img src="/static/img/depilação.jpg " alt=" ">

        <h2>
            Depilção
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            odo
        </p>
    </div>

    <div class="flex-item card card-info">
        <h2>
            Design de Sobrancelhas
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            odo
        </p>
        <img src="/static/img/sobrancelhas.gif ">
    </div>

    <div class="flex-item card card-info ">
        <img src="/static/img/cilios.jfif ">
        <h2>
            Extenção de Cílios
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            odo
        </p>
    </div>

</section>


<!--fim Sessão serviços display flex-->

<div id="produto" class="card-topico ">
    <h2>
        Listas de Produtos
    </h2>
    <h5>Veja o que Temos em nossa loja</h5>
</div>


<!-- inicio lista de produtos-->

<section class="flex-container produto">

    <div class="flex-item card card-info">
        <img src="/static/img/tratamento-facial.jpg " alt="Tratamento Facial ">

        <h2>
            Tratamento Facial
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou fazer um livro de modelos
            de tipos.
        </p>
    </div>


    <div class="flex-item card">
        <h2>
            Cuidados
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou fazer um livro de modelos
            de tipos.
        </p>
        <img src="/static/img/cuidados.png ">
    </div>



    <div class="flex-item card card-info ">
        <img src="/static/img/sabonetes.jpg ">
        <h2>
            Sabonetes naturais
        </h2>
        <p>
            O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou fazer um livro de modelos
            de tipos.
        </p>
    </div>

</section>

<!-- inicio lista de produtos-->

<div id="sobre" class="card-topico">
    <h2>Conheça melhor quem somos</h2>
</div>


<!-- incio sobre -->
<div class="section-sobre">

    <section class="sobre">

        <div class="item-sobre">

            <h2>Nós somos</h2>
            <p>
                O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
                modelos de tipos.
            </p>

        </div>

        <div class="foto-maquiagem">
            <img src="/static/img/maquiagem.jfif " alt="maquiagem ">
        </div>

    </section>
</div>

<!-- fim sobre -->


<div id="equipe" class="card-topico ">
    <h2>Equipe</h2>
</div>


<!-- incio sessão equipe-->

<div class="section-equipe">

    <div class="prof1 pro"><img src="/static/img/avatar.png " alt="pro1 "></div>
    <div class="cont1 content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto soluta quidem voluptatem, quo asperiores molestias, sunt reiciendis cumque officiis facilis similique veritatis voluptatum maiores earum optio beatae dolorem dignissimos aspernatur.</div>
    <div class="cont2 content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, ullam fugit. Numquam, laboriosam nam voluptatibus facilis aliquid inventore incidunt perferendis assumenda eos quaerat dolor, at corrupti rerum commodi aut officia.</div>
    <div class="prof2 pro"><img src="/static/img/avatar.png " alt="pro2 "></div>
    <div class="prof3 pro"><img src="/static/img/avatar.png " alt="pro3 "></div>
    <div class="cont3 content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam nesciunt, sed omnis excepturi in ipsa velit illum assumenda iure? Enim iusto consectetur laborum non mollitia ad labore, officia vitae assumenda.</div>
</div>


<!-- fim sessão equipe-->
{% endblock content %}

<!--inicio script-->
<script src="/static/js/script.js"></script>

{% block scripts %}<script src="/static/js/script.js"></script> {% endblock scripts %}