{%extends'_base.html'%}

<!---->

{% block title %} login {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style_login.css">{% endblock head%}

<!---->



<!---->

{% block content %}
<!--{% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-dark " role="alert">
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% endwith %}-->

<div class="container ">

    <form action="" class="form" method="POST">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="*Digite seu E-mail">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*Digite sua senha">

            <a id="forgot-pass" href="#">Esqueceu Senha?</a>
            <button type="submit" class="btn1">Entrar</button>
        </div>
    </form>


    <div class="rede-social ">
        <p class=" ">Ou entre pelas redes sociais</p>
        <a href=" # " class=" "><i class="fab fa-facebook-f "></i></a>
        <a href="# " class=" "><i class="fab fa-linkedin-in "></i></a>
        <a href="# " class=" "><i class="fab fa-google-plus-g "></i></a>
    </div>

    <div class="cadastro-container ">
        <p class="cadastro ">Ainda não tem cadastro?</p>
        <a href="/cadastro" class="btn-cadastrar ">Cadastre-se aqui</a>
    </div>
</div>


{% endblock content %} {% block scripts %} {% endblock scripts %}