{%extends'_base.html'%}

<!---->

{% block title %} Agendamento{% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-historico.css"> {% block estilos %} {% endblock estilos %} {% endblock head%}

<!---->

<!---->

{% block content %} {% if mensagem %}
<p class="mensagem">{{mensagem}}</p>
{% endif %} {% if erro %}
<p class="erro">{{erro}}</p>
{% endif %}

<h2>Seja bem-vindo, {{logado['nome']}}!</h2>

<div class="container ">

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Agendamento</th>
                <th>Horário Agendamento</th>
                <th>Serviço</th>
                <th>Profissional</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cliente %}
            
            <tr>
                <td>{{cliente[c][0]}}</td>
                <td>{{cliente[c][1]}}</td>
                <td>{{cliente[c][2]}}</td>
                <td>{{cliente[c][3]}}</td>
                <td>{{cliente[c][4]}}</td>
                <td>R$ {{cliente[c][5]}}</td>
            </tr>
           
           {% endfor %}
        </tbody>
    </table>

</div>



{% endblock content %} 

{% block scripts %} {% endblock scripts %}