{%extends'_base.html'%}

<!---->

{% block title %} Agendamento{% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-meu-agendamento.css"> {% block estilos %} {% endblock estilos %} {% endblock head%}

<!---->

<!---->

{% block content %} {% if mensagem %}
<p class="mensagem">{{mensagem}}</p>
{% endif %} {% if erro %}
<p class="erro">{{erro}}</p>
{% endif %}

<h2 class="mensagem">Seja bem-vindo, {{logado['nome']}}!</h2>

<div class="container">

    <table class="table">
        
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Agendamento</th>
                <th>Horário Agendamento</th>
                <th>Serviço</th>
                <th>Profissional</th>
                <th>Valor</th>
                <th>Alterar</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cliente %}
            
            <tr>
                <td>{{c.nome_cliente}}</td>
                <td>{{c.data1}}</td>
                <td>{{c.hora}}</td>
                <td>{{c.nome_servico}}</td>
                <td>{{c.nome_funcionario}}</td>
                <td>R$ {{c.preco_servico}} </td>
                <td><a href="/editar_agendamentos/{{c.id_agendamento}}"><i class="fas fa-pencil-alt"></i></a>
                    <a href="/apagar_agendamento/{{c.id_agendamento}}"><i class="fas fa-trash-alt"></i></a>
                </td>
                
            </tr>
           
           {% endfor %}
        </tbody>
    </table>
    <a class="btn_funcao2 btn btn-primary" href="/agendamento">Voltar</a>
</div>



{% endblock content %} 

{% block scripts %} {% endblock scripts %}