{%extends 'base_admin.html'%}
<!---->


{% block title %} Cadastro serviço {% endblock title %} {% block head%} {{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/style-cad_funcionario.css">{% endblock head%}

<!-- estilos-->

{% block estilos %} {% endblock estilos %}


<!---->

{% block content %} {% if mensagem %}
<p class="mensagem">{{mensagem}}</p>
{% endif %} {% if erro %}
<p class="erro">{{erro}}</p>
{% endif %}

<!--inicio cadastro-->
<div class="conteudo">
    <div class="form">

        <form action="add_servico" method="POST" class="text-center form-contato" class="was-validated">

            <h1 class=" ">Cadastro serviço</h1>

            <label for="id_nomeservico" class="form-label">Serviço</label>
            <input type="text" id="id_nomeservico" placeholder="Serviço* " autocomplete="off" required autofocus class="input-fun" name="nome">


            <label for="id_preco" class="form-label">Preço</label>
            <input type="text " id="id_preco" placeholder="Preço* " autocomplete="off" required autofocus class="input-fun" name="preco">

            <label for="id_duracao " class="form-label ">Duração</label>
            <input type="text" id="id_duracao" placeholder="Durção do serviço* " autocomplete="off" required autofocus class="input-fun" name="duracao">


            <div class="form-check ">
                <input type="radio" id="id_status" name="status" value="Ativo">
                <label class="form-check-label" for="exampleRadios1">
                  Ativo
                </label>
            </div>

            <div class="form-check ">
                <input type="radio" id="id_status" name="status" value="Inativo">
                <label class="form-check-label" for="exampleRadios1">
                  Inativo
                </label>
            </div>





            <button type="submit " class="btn btn-form btn-primary ">Enviar</button>

        </form>
    </div>
</div>

<!--fim cadastro-->
{% endblock content %}

<!-- scripts-->

{% block scripts %} {% endblock scripts %}